NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_REGISTRY_ADDRESS_LOCALHOST=
NEXT_PUBLIC_REGISTRY_ADDRESS_INK_MAINNET=
NEXT_PUBLIC_REGISTRY_ADDRESS_INK_SEPOLIA=
NEXT_PUBLIC_REGISTRY_ADDRESS_ARC_TESTNET=
NEXT_PUBLIC_USDC_ADDRESS_LOCALHOST=
NEXT_PUBLIC_USDC_ADDRESS_ARC_TESTNET=0x3600000000000000000000000000000000000000
NEXT_PUBLIC_GATEWAY_WALLET_ADDRESS_ARC_TESTNET=0x0077777d7EBA4688BDeF3E311b846F25870A19B9
INK_MAINNET_RPC_URL=https://rpc-gel.inkonchain.com
INK_SEPOLIA_RPC_URL=https://rpc-gel-sepolia.inkonchain.com
ARC_TESTNET_RPC_URL=https://rpc.testnet.arc.network
PRIVATE_KEY=
